@import "assets/styles/page.css";
@import "assets/styles/post.css";
@import "assets/styles/form.css";
@import "assets/styles/avatar.css";
@import "assets/styles/button-counter.css";
@import "assets/styles/button-action.css";
@import "assets/styles/button-submit.css";

:root {
    --color-moderate-blue: hsl(238, 40%, 52%);
    --color-soft-red: hsl(358, 79%, 66%);
    --color-light-grayish-blue: hsl(239, 57%, 85%);
    --color-pale-red: hsl(357, 100%, 86%);
    --color-dark-blue: hsl(212, 24%, 26%);
    --color-grayish-blue: hsl(211, 10%, 45%);
    --color-light-gray: hsl(223, 19%, 93%);
    --color-very-light-gray: hsl(228, 33%, 97%);
    --color-white: hsl(0, 0%, 100%);

    --font-fallback: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --font: "Rubik", var(--font-fallback);
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

svg {
    display: block;
}