.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 3.2rem;
    margin-right: 1.6rem;
    padding: 0;
    border: none;
    background-color: transparent;
    color: var(--color-moderate-blue);
    cursor: pointer;
}

.button:hover {
    opacity: 0.7;
}

.button:last-child {
    margin-right: 0;
}

.button--delete {
    color: var(--color-soft-red);
}

.button__icon {
    width: auto;
    height: 1.4rem;
}

.button__label {
    margin-left: 0.8rem;
    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
}