.comment {
    display: grid;
    grid-template-areas: "info        info"
                         "comment     comment"
                         "button-vote button-reply";
}

.comment__info {
    grid-area: info;
}

.comment__user {

}

.comment__date {

}

.comment__value {
    grid-area: comment;
}

.comment__button-vote {
    grid-area: button-vote;
}

.comment__button-reply {
    grid-area: button-reply;
}

@media screen and (min-width: 764px) {
    .comment {
        grid-template-areas: "button-vote info    button-reply"
                             "button-vote comment comment";
    }
}