.form {
    display: flex;
    width: 100%;
    height: auto;
}

.form--standalone {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.6rem;
    padding: 1.6rem;
    background-color: var(--color-white);
    border-radius: 0.8rem;
    box-shadow: var(--shadow);
}

.form--comment {
    grid-area: comment;
    flex-direction: column;
    align-items: flex-end;
}

.form__avatar {
    flex: 0 0 auto;
    width: 4rem;
    height: 4rem;
    border-radius: 9999px;
}

.form__label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.form__input {
    width: 100%;
    margin-bottom: 1.6rem;
    padding: 1.2rem 2.4rem;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--color-light-gray);
    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--color-dark-blue);
    resize: none;
}

.form--standalone > .form__input {
    height: 9.6rem;
}

.form--comment > .form__input {
    height: 12.4rem;
}

.form__input:focus {
    outline: none;
    border: 0.1rem solid var(--color-dark-blue);
}

.form__input::placeholder {
    color: var(--color-grayish-blue);
    font-weight: 400;
}

.form__button {
    flex: 0 0 auto;
    width: 10.4rem;
    height: 4.8rem;
    padding: 0;
    border-radius: 0.8rem;
    border: none;
    background-color: var(--color-moderate-blue);
    color: var(--color-white);
    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.form__button:hover {
    opacity: 0.7;
}

@media screen and (min-width: 762px) {
    .form--standalone {
        flex-wrap: nowrap;
        align-items: flex-start;
        padding: 2.4rem;
    }

    .form--standalone > .form__avatar {
        order: 1;
    }

    .form--standalone > .form__input {
        flex: 1 1 0;
        order: 2;
        margin-left: 1.6rem;
        margin-right: 1.6rem;
        margin-bottom: 0;
    }

    .form--standalone > .form__button {
        order: 3;
    }
}