.page {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 3.2rem 1.6rem;
    margin: 0;
    background-color: var(--color-very-light-gray);
}

.page__container {
    width: 100%;
    height: auto;
    margin: auto;
}

@media screen and (min-width: 762px) {
    .page__container {
        max-width: 73rem;
        margin-left: auto;
        margin-right: auto;
    }
}