.score {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10rem;
    height: 4rem;
    background-color: var(--color-very-light-gray);
    border-radius: 0.8rem;
}

.score__button {
    flex: 1 1 0;
    display: flex;
    height: 100%;
    border: none;
    background-color: transparent;
    color: var(--color-light-grayish-blue);
    cursor: pointer;
}

.score__button:hover {
    color: var(--color-moderate-blue);
}

.score__icon {
    display: block;
    margin: auto;
}

.score__count {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-moderate-blue);
}

@media screen and (min-width: 762px) {
    .score {
        flex-direction: column;
        width: 4rem;
        height: 10rem;
    }
}